/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wikinews .rssBody ul {
    margin:0px;
    padding:0px;
}

#wikinews .rssBody ul li{
    list-style:none;
}

#wikinews .rssBody ul li h4{
    margin-bottom:3px;
}

#wikinews .rssBody ul li div{
    font-size:13px;
    font-weight:bold;
}

#wikinews .rssBody ul li h4 a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration:none;
}

#wikinews {
    font-family: 'Ubuntu', sans-serif;
    padding-left:10px;
}   
#forumnews .rssBody ul {
    margin:0px;
    padding:0px;
}

#forumnews .rssBody ul li{
    list-style:none;
}

#forumnews .rssBody ul li h4{
    margin-bottom:3px;
}

#forumnews .rssBody ul li div{
    font-size:13px;
    font-weight:bold;
}

#forumnews .rssBody ul li h4 a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration:none;
    font-size:15px;
}

#forumnews {
    font-family: 'Ubuntu', sans-serif;
    padding-left:10px;
}   

a:hover {
    color: rgb(4, 177, 216);
    text-decoration:none;
}
a {
    color: rgb(3, 136, 166);
    text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    transition-property: color;
    transition-duration: 0.5s;

}

/* disable glyphicons to use awesome fonts: TODO

[class^="icon-"], [class*=" icon-"] {
     background-image:none;
     height:auto;
     line-height:normal;
     margin-top:0;
     vertical-align:baseline;
     width:auto;
}*/
